* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #88139b;
  --white-grayish: #eee;
  --white: #fff;
  --black: #404040;

  --wLogo: 64px;
  --wForm: 290px;
}

body {
  position: relative;
  display: block;
  max-width: 100%;
  height: 100vh;
  background: var(--white-grayish);
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  padding: 5px;
  background-color: var(--color-primary);
}

.header h1 {
  font-size: 1.5em;
  color: var(--white);
  font-family: "Verdana", sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  row-gap: 2em;
  padding: 1em 0;
}

/* Home */
#bodyHome {
  display: flex;
  flex-flow: column;
  justify-content: center;
  row-gap: 2em;
  background: var(--color-primary);
  min-height: 100vh;
}

#title {
  color: var(--white);
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  font-family: "Verdana", sans-serif;
}

#main-cards {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2em;
  width: 100%;
  padding: 1em;
}

.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 1em;
  width: 280px;
  height: 300px;
  overflow: hidden;
  background: #eee;
  border-radius: 12px;
  box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5);
}

.card__image {
  width: 100%;
  height: 180px;
  padding: 0 10px;
}

.card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-family: "Verdana", sans-serif;
  color: var(--black);
  text-align: center;
  font-size: 1.65em;
}

.card__link {
  width: 120px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  font-size: 1em;
  padding: 5px 0;
  color: var(--color-primary);
  font-weight: 600;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

/* Icons */
.iconHome {
  position: fixed;
  bottom: 1em;
  right: 1em;
  outline: none;
  width: 28px;
  height: 28px;
  z-index: 9;
}

/* Form */
#titanicForm,
#carsForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1em 0.5em;
  gap: 1.25em;
  width: var(--wForm);
  margin: 0 auto;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  row-gap: 0.5em;
}

.wrapper label,
.wrapper input,
.wrapper select {
  display: block;
  font-family: "Verdana", sans-serif;
}

.wrapper label {
  color: var(--black);
  font-weight: 700;
}

.wrapper input,
.wrapper select {
  outline: 2px solid var(--black);
  border: none;
  padding: 2.5px 5px;
  border-radius: 4px;
  font-size: 1em;
  color: var(--black);
  background: var(--white);
}

select option {
  color: var(--black);
  font-size: 0.9em;
  font-weight: 500;
  padding: 5px;
}

.wrapper-btn {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper-btn input[type="submit"] {
  padding: 0.5em 2em;
  border-radius: 6px;
  outline: none;
  border: none;
  font-family: "Verdana", sans-serif;
  font-weight: 600;
  font-size: 1em;
  background: var(--color-primary);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hiden {
  display: none;
}

.wrapper-btn input[type="submit"]:hover {
  filter: brightness(1.1);
  transition: filter 0.4s linear;
}

.wrapper-btn input[type="submit"]:active,
.card__link:active {
  transform: scale(0.85);
  transition: transform 0.4s linear;
}

/* Tables */
#results {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  row-gap: 1em;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  overflow-x: scroll;
  transform: translate(0, -100%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#btnCloseModal {
  position: sticky;
  top: 0;
  right: 1em;
  width: 28px;
  height: 28px;
  color: var(--white);
  font-weight: 7000;
}

table {
  border: 2px solid var(--black);
  width: 50%;
  border-collapse: collapse;
}

table,
tr,
th,
td {
  border: 1px solid #fff;
}

th {
  background: var(--color-primary);
  font-weight: 600;
  color: #fff;
}

td {
  background: #eee;
  color: var(--black);
  font-weight: 600;
}

th,
td {
  padding: 5px;
  text-align: center;
}

/* Images */
.image {
  width: calc(var(--wLogo) * 2);
  height: calc(var(--wLogo) * 2);
  margin: 0 auto;
}

.image img,
.iconHome img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  /* Home */
  #title {
    font-size: 3.5em;
  }

  /* Form */
  #titanicForm,
  #carsForm {
    display: flex;
    flex-flow: row wrap;
    width: calc(var(--wForm) * 2);
  }

  .wrapper {
    flex: calc(100% / 2 - 1.25em);
    max-width: calc(100% / 2 - 1.25em);
  }

  /* Tables */
  #results {
    overflow: hidden;
  }
}
