<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This app can help you to predict the real price of car"
    />
    <meta name="keywords" content="Machine Learning, Vanilla JS, Cars" />
    <meta name="author" content="Estiven Mayhuay" />
    <title>Cars Web - EMCODY</title>
    <link
      rel="shortcut icon"
      href="../images/icon-azure.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../css/main.css" />

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1>Cars Web</h1>
    </header>

    <a href="../index.html" class="iconHome"
      ><img src="../images/icon-home.png" alt="icono para ir al home"
    /></a>

    <main class="main">
      <section class="intro">
        <h2 class="title">What you can do?</h2>
        <p class="paragraph">
          You can predict the real price of your car. Just put the data and now
          we explain the fields that we require.
        </p>
        <ul class="list">
          <li class="list__item">
            <strong>Make:</strong> Is the mark of the car
          </li>
          <li class="list__item">
            <strong>Body Style:</strong> Is the body style of the car
          </li>
          <li class="list__item">
            <strong>Wheel Base:</strong> Is the wheel base of the car
          </li>
          <li class="list__item">
            <strong>Engine Size:</strong> Is the engine size of the car
          </li>
          <li class="list__item"><strong>Age:</strong> Your age</li>
          <li class="list__item">
            <strong>Horsepower:</strong> Is the horsepower of the car
          </li>
          <li class="list__item">
            <strong>Peark rpm:</strong> Is the revolution pear minutes of the car
          </li>
          <li class="list__item">
            <strong>Highway mpg </strong> Is the highway miles per gallon
          </li class="list__item">
          <li class="list__item"><strong>Price:</strong> Put the real price of your car</li>
        </ul>
      </section>

      <section class="contentForm">
        <form action="" method="post" id="carsForm">
          <div class="wrapper hiden">
            <label for="symboling">Symboling</label>
            <input
              type="text"
              name="symboling"
              id="symboling"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="normalizedLosses">Normalized Losses</label>
            <input
              type="text"
              name="normalizedLosses"
              id="normalizedLosses"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="make">Make</label>
            <input type="text" name="make" id="make" required />
          </div>
          <div class="wrapper hiden">
            <label for="fuelType">Fuel Type</label>
            <input
              type="text"
              name="fuelType"
              id="fuelType"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="aspiration">Aspiration</label>
            <input
              type="text"
              name="aspiration"
              id="aspiration"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="numDoors">Nro of doors</label>
            <input
              type="text"
              name="numDoors"
              id="numDoors"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="bodyStyle">Body Style</label>
            <input type="text" name="bodyStyle" id="bodyStyle" required />
          </div>
          <div class="wrapper hiden">
            <label for="driveWheels">Drive Wheels</label>
            <input
              type="text"
              name="driveWheels"
              id="driveWheels"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="engineLocation">Engine Location</label>
            <input
              type="text"
              name="engineLocation"
              id="engineLocation"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="wheelBase">Wheel Base</label>
            <input type="text" name="wheelBase" id="wheelBase" required />
          </div>
          <div class="wrapper hiden">
            <label for="lengthCar">Lenght</label>
            <input
              type="text"
              name="lengthCar"
              id="lengthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="widthCar">Width</label>
            <input
              type="text"
              name="widthCar"
              id="widthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="heightCar">Height</label>
            <input
              type="text"
              name="heightCar"
              id="heightCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="curbWeight">Curb weight</label>
            <input
              type="text"
              name="curbWeight"
              id="curbWeight"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="engineType">Engine Type</label>
            <input
              type="text"
              name="engineType"
              id="engineType"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="numCylinders">Nro Cylinders</label>
            <input
              type="text"
              name="numCylinders"
              id="numCylinders"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engineSize">Engine Size</label>
            <input type="text" name="engineSize" id="engineSize" required />
          </div>
          <div class="wrapper hiden">
            <label for="fuelSystem">Fuel System</label>
            <input
              type="text"
              name="fuelSystem"
              id="fuelSystem"
              value="0"
              required
            />
          </div>
          <div class="wrapper hiden">
            <label for="bore">Bore</label>
            <input type="text" name="bore" id="bore" value="0" required />
          </div>
          <div class="wrapper hiden">
            <label for="stroke">Stroke</label>
            <input type="text" name="stroke" id="stroke" value="0" required />
          </div>
          <div class="wrapper hiden">
            <label for="compressionRatio">Compression ratio</label>
            <input
              type="text"
              name="compressionRatio"
              id="compressionRatio"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="horsepower">Horsepower</label>
            <input type="text" name="horsepower" id="horsepower" required />
          </div>
          <div class="wrapper">
            <label for="peakRpm">Peak rpm</label>
            <input type="text" name="peakRpm" id="peakRpm" required />
          </div>
          <div class="wrapper hiden">
            <label for="cityMpg">City mpg</label>
            <input type="text" name="cityMpg" id="cityMpg" value="0" required />
          </div>
          <div class="wrapper">
            <label for="highwayMpg">Highway mpg</label>
            <input type="text" name="highwayMpg" id="highwayMpg" required />
          </div>
          <div class="wrapper">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required />
          </div>
          <div class="wrapper-btn">
            <input type="submit" value="Evaluate" required />
          </div>
        </form>
      </section>

      <section id="results">
        <span id="btnCloseModal"><i class='bx bx-exit'></i></span>

        <p class="image">
          <img
            src="../images/car.png"
            alt="precio del automovil"
            id="imageState"
            width=""
          />
        </p>

        <p class="paragraph paragraph--result" id="paragraphResult"></p>

        <div class="contentTableCars">
          <table>
            <thead>
              <tr>
                <th>Make</th>
                <th>Body style</th>
                <th>wheel base</th>
                <th>Engine size</th>
                <th>Horsepower</th>
                <th>Peak rpm</th>
                <th>Highway mpg</th>
                <th>Price</th>
                <th>Scored Labels</th>
              </tr>
            </thead>
            <tbody>
              <tr id="tr-cars"></tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="socialMedia">
        <button class="btn">
          <i class='bx bxl-youtube'></i> 
          <a href="https://www.youtube.com/channel/UCKmXlegNzxRIhWz1vP1YuZw" target="_blank">Youtube</a>
        </button>
        <button class="btn">
          <i class='bx bxl-discord-alt' ></i> 
          <a href="https://discord.gg/CrKTjZSe" target="_blank">Discord</a>
        </button>
        <button class="btn">
          <i class='bx bxl-blogger' ></i> 
          <a href="https://estivenmayhuay.github.io/emcody/" target="_blank">Blog</a>
        </button>
      </section>
    </main>

    <script src="../script/app.js" type="module"></script>
  </body>
</html>
