<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Web</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <img src="../images/logoCar.png" alt="banner cars" />
      <h1>Bienvenidos a Cars Web</h1>
    </header>

    <main>
      <section class="contentForm">
        <form action="" method="post" id="carsForm">
          <div class="wrapper">
            <label for="symboling">Symboling</label>
            <input
              type="text"
              name="symboling"
              id="symboling"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="normalized-losses">Normalized Losses</label>
            <input
              type="text"
              name="normalized-losses"
              id="normalized-losses"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="make">Make</label>
            <input type="text" name="make" id="make" required />
          </div>
          <div class="wrapper">
            <label for="fuel-type">Fuel Type</label>
            <input
              type="text"
              name="fuel-type"
              id="fuel-type"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="aspiration">Aspiration</label>
            <input
              type="text"
              name="aspiration"
              id="aspiration"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="num-doors">Nro of doors</label>
            <input
              type="text"
              name="num-doors"
              id="num-doors"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="body-style">Body Style</label>
            <input type="text" name="body-style" id="body-style" required />
          </div>
          <div class="wrapper">
            <label for="drive-wheels">Drive Wheels</label>
            <input
              type="text"
              name="drive-wheels"
              id="drive-wheels"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engine-location">Engine Location</label>
            <input
              type="text"
              name="engine-location"
              id="engine-location"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="wheel-base">Wheel Base</label>
            <input type="text" name="wheel-base" id="wheel-base" required />
          </div>
          <div class="wrapper">
            <label for="lengthCar">Lenght</label>
            <input
              type="text"
              name="lengthCar"
              id="lengthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="widthCar">Width</label>
            <input
              type="text"
              name="widthCar"
              id="widthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="heightCar">Height</label>
            <input
              type="text"
              name="heightCar"
              id="heightCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="curb-weight">Curb weight</label>
            <input
              type="text"
              name="curb-weight"
              id="curb-weight"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engine-type">Engine Type</label>
            <input
              type="text"
              name="engine-type"
              id="engine-type"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="num-cylinders">Nro Cylinders</label>
            <input
              type="text"
              name="num-cylinders"
              id="num-cylinders"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engine-size">Engine Size</label>
            <input type="text" name="engine-size" id="engine-size" required />
          </div>
          <div class="wrapper">
            <label for="fuel-system">Fuel System</label>
            <input
              type="text"
              name="fuel-system"
              id="fuel-system"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="bore">Bore</label>
            <input type="text" name="bore" id="bore" value="0" required />
          </div>
          <div class="wrapper">
            <label for="stroke">Stroke</label>
            <input type="text" name="stroke" id="stroke" value="0" required />
          </div>
          <div class="wrapper">
            <label for="compression-ratio">Compression ratio</label>
            <input
              type="text"
              name="compression-ratio"
              id="compression-ratio"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="horsepower">Horsepower</label>
            <input type="text" name="horsepower" id="horsepower" required />
          </div>
          <div class="wrapper">
            <label for="peak-rpm">Peak rpm</label>
            <input type="text" name="peak-rpm" id="peak-rpm" required />
          </div>
          <div class="wrapper">
            <label for="city-mpg">City mpg</label>
            <input
              type="text"
              name="city-mpg"
              id="city-mpg"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="highway-mpg">Highway mpg</label>
            <input type="text" name="highway-mpg" id="highway-mpg" required />
          </div>
          <div class="wrapper">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required />
          </div>
          <div class="wrapper-btn">
            <input type="submit" value="Evaluar" required />
          </div>
        </form>
      </section>

      <section id="results">
        <table>
          <thead>
            <tr>
              <th>Make</th>
              <th>Body style</th>
              <th>wheel base</th>
              <th>Engine size</th>
              <th>Horsepower</th>
              <th>Peak rpm</th>
              <th>Highway mpg</th>
              <th>Price</th>
              <th>Scored Labels</th>
            </tr>
          </thead>
          <tbody>
            <tr id="tr-cars"></tr>
          </tbody>
        </table>

        <p class="image">
          <img
            src="../images/car.png"
            alt="precio del automovil"
            id="imageState"
            width=""
          />
        </p>
      </section>
    </main>

    <script src="../script/app.js"></script>
  </body>
</html>
