<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Web</title>
    <link rel="icon" href="../images/icon-azure.svg" type="image/png" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <img src="../images/logoCar.png" alt="banner cars" />
      <h1>Bienvenidos a Cars Web</h1>
    </header>

    <a href="../index.html" class="iconHome"
      ><img src="../images/icon-home.png" alt="icono para ir al home"
    /></a>

    <main>
      <section id="testData">
        <details class="detailsTestData">
          <summary>Test Data</summary>

          <div class="contentTable">
            <table>
              <thead>
                <tr>
                  <th>Make</th>
                  <th>Body style</th>
                  <th>wheel base</th>
                  <th>Engine size</th>
                  <th>Horsepower</th>
                  <th>Peak rpm</th>
                  <th>Highway mpg</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>saab</td>
                  <td>sedan</td>
                  <td>99.1</td>
                  <td>121</td>
                  <td>110</td>
                  <td>5250</td>
                  <td>28</td>
                  <td>15510</td>
                </tr>
                <tr>
                  <td>mitsubishi</td>
                  <td>hatchback</td>
                  <td>female</td>
                  <td>93</td>
                  <td>98</td>
                  <td>5500</td>
                  <td>30</td>
                  <td>7689</td>
                </tr>
                <tr>
                  <td>volkswagen</td>
                  <td>sedan</td>
                  <td>97.3</td>
                  <td>109</td>
                  <td>85</td>
                  <td>5250</td>
                  <td>34</td>
                  <td>8195</td>
                </tr>
                <tr>
                  <td>chevrolet</td>
                  <td>hatchback</td>
                  <td>94.5</td>
                  <td>90</td>
                  <td>70</td>
                  <td>5400</td>
                  <td>43</td>
                  <td>6295</td>
                </tr>
                <tr>
                  <td>isuzu</td>
                  <td>hatchback</td>
                  <td>96</td>
                  <td>119</td>
                  <td>90</td>
                  <td>5000</td>
                  <td>29</td>
                  <td>11048</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </section>

      <section class="contentForm">
        <form action="" method="post" id="carsForm">
          <div class="wrapper">
            <label for="symboling">Symboling</label>
            <input
              type="text"
              name="symboling"
              id="symboling"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="normalizedLosses">Normalized Losses</label>
            <input
              type="text"
              name="normalizedLosses"
              id="normalizedLosses"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="make">Make</label>
            <input type="text" name="make" id="make" required />
          </div>
          <div class="wrapper">
            <label for="fuelType">Fuel Type</label>
            <input
              type="text"
              name="fuelType"
              id="fuelType"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="aspiration">Aspiration</label>
            <input
              type="text"
              name="aspiration"
              id="aspiration"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="numDoors">Nro of doors</label>
            <input
              type="text"
              name="numDoors"
              id="numDoors"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="bodyStyle">Body Style</label>
            <input type="text" name="bodyStyle" id="bodyStyle" required />
          </div>
          <div class="wrapper">
            <label for="driveWheels">Drive Wheels</label>
            <input
              type="text"
              name="driveWheels"
              id="driveWheels"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engineLocation">Engine Location</label>
            <input
              type="text"
              name="engineLocation"
              id="engineLocation"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="wheelBase">Wheel Base</label>
            <input type="text" name="wheelBase" id="wheelBase" required />
          </div>
          <div class="wrapper">
            <label for="lengthCar">Lenght</label>
            <input
              type="text"
              name="lengthCar"
              id="lengthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="widthCar">Width</label>
            <input
              type="text"
              name="widthCar"
              id="widthCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="heightCar">Height</label>
            <input
              type="text"
              name="heightCar"
              id="heightCar"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="curbWeight">Curb weight</label>
            <input
              type="text"
              name="curbWeight"
              id="curbWeight"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engineType">Engine Type</label>
            <input
              type="text"
              name="engineType"
              id="engineType"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="numCylinders">Nro Cylinders</label>
            <input
              type="text"
              name="numCylinders"
              id="numCylinders"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="engineSize">Engine Size</label>
            <input type="text" name="engineSize" id="engineSize" required />
          </div>
          <div class="wrapper">
            <label for="fuelSystem">Fuel System</label>
            <input
              type="text"
              name="fuelSystem"
              id="fuelSystem"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="bore">Bore</label>
            <input type="text" name="bore" id="bore" value="0" required />
          </div>
          <div class="wrapper">
            <label for="stroke">Stroke</label>
            <input type="text" name="stroke" id="stroke" value="0" required />
          </div>
          <div class="wrapper">
            <label for="compressionRatio">Compression ratio</label>
            <input
              type="text"
              name="compressionRatio"
              id="compressionRatio"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="horsepower">Horsepower</label>
            <input type="text" name="horsepower" id="horsepower" required />
          </div>
          <div class="wrapper">
            <label for="peakRpm">Peak rpm</label>
            <input type="text" name="peakRpm" id="peakRpm" required />
          </div>
          <div class="wrapper">
            <label for="cityMpg">City mpg</label>
            <input type="text" name="cityMpg" id="cityMpg" value="0" required />
          </div>
          <div class="wrapper">
            <label for="highwayMpg">Highway mpg</label>
            <input type="text" name="highwayMpg" id="highwayMpg" required />
          </div>
          <div class="wrapper">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required />
          </div>
          <div class="wrapper-btn">
            <input type="submit" value="Evaluar" required />
          </div>
        </form>
      </section>

      <section id="results">
        <table>
          <thead>
            <tr>
              <th>Make</th>
              <th>Body style</th>
              <th>wheel base</th>
              <th>Engine size</th>
              <th>Horsepower</th>
              <th>Peak rpm</th>
              <th>Highway mpg</th>
              <th>Price</th>
              <th>Scored Labels</th>
            </tr>
          </thead>
          <tbody>
            <tr id="tr-cars"></tr>
          </tbody>
        </table>

        <p class="image">
          <img
            src="../images/car.png"
            alt="precio del automovil"
            id="imageState"
            width=""
          />
        </p>
      </section>
    </main>

    <script src="../script/app.js"></script>
  </body>
</html>
