<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This app can help you to predict the real price of car"
    />
    <meta name="keywords" content="Machine Learning, Vanilla JS, Cars" />
    <meta name="author" content="Estiven Mayhuay" />
    <title>Covid Web - EMCODY</title>
    <link
      rel="shortcut icon"
      href="../images/icon-azure.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../css/main.css" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1>Covid Web</h1>
    </header>

    <a href="../index.html" class="iconHome"
      ><img src="../images/icon-home.png" alt="icono para ir al home"
    /></a>

    <main class="main">
      <section class="intro">
        <h2 class="title">¿Qué puedes hacer?</h2>
        <p class="paragraph">
          Con esta aplicación podrás determinar si eres propenso a contagiarte
          la covid-19.
        </p>
        <ul class="list">
          <li class="list__item">
            <strong>Dosis:</strong> Puedes escoger entre PFIZER, SINOPHARM y
            ASTRAZENECA.
          </li>
          <li class="list__item">
            <strong>Fecha de Dosis:</strong> Son las fechas en las cuales fueron
            tus vacunas.
          </li>
        </ul>
      </section>

      <section class="contentForm">
        <form action="" method="post" id="covidForm">
          <div class="wrapper">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required />
          </div>
          <div class="wrapper">
            <label for="edad">Edad</label>
            <input type="text" name="edad" id="edad" value="" required />
          </div>
          <div class="wrapper">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" required>
              <option value="" hidden></option>
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="cdc_positividad">¿Tienes Covid?</label>
            <select name="cdc_positividad" id="cdc_positividad" required>
              <option value="" hidden></option>
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="flag_vacuna">Cantidad de Vacunas</label>
            <input
              type="text"
              name="flag_vacuna"
              id="flag_vacuna"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="fecha_dosis1">Fecha Dosis 1</label>
            <input
              type="date"
              name="fecha_dosis1"
              value="0"
              id="fecha_dosis1"
            />
          </div>
          <div class="wrapper">
            <label for="fabricante_dosis1">Fabricante Dosis 1</label>
            <select name="fabricante_dosis1" id="fabricante_dosis1">
              <option value="" hidden>Elegir</option>
              <option value="PFIZER">PFIZER</option>
              <option value="ASTRAZENECA">ASTRAZENECA</option>
              <option value="SINOPHARM">SINOPHARM</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="fecha_dosis2">Fecha Dosis 2</label>
            <input
              type="date"
              name="fecha_dosis2"
              value="0"
              id="fecha_dosis2"
            />
          </div>
          <div class="wrapper">
            <label for="fabricante_dosis2">Fabricante Dosis 2</label>
            <select name="fabricante_dosis2" id="fabricante_dosis2">
              <option value="" hidden>Elegir</option>
              <option value="PFIZER">PFIZER</option>
              <option value="ASTRAZENECA">ASTRAZENECA</option>
              <option value="SINOPHARM">SINOPHARM</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="fecha_dosis3">Fecha Dosis 3</label>
            <input type="date" name="fecha_dosis3" id="fecha_dosis3" />
          </div>
          <div class="wrapper">
            <label for="fabricante_dosis3">Fabricante Dosis 3</label>
            <select name="fabricante_dosis3" id="fabricante_dosis3">
              <option value="" hidden>Elegir</option>
              <option value="PFIZER">PFIZER</option>
              <option value="ASTRAZENECA">ASTRAZENECA</option>
              <option value="SINOPHARM">SINOPHARM</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="dep_domicilio">Departamento</label>
            <select name="dep_domicilio" id="dep_domicilio" required></select>
          </div>
          <div class="wrapper">
            <label for="prov_domicilio">Provincia</label>
            <select name="prov_domicilio" id="prov_domicilio" required></select>
          </div>
          <div class="wrapper">
            <label for="dist_domicilio">Distrito</label>
            <select name="dist_domicilio" id="dist_domicilio" required></select>
          </div>
          <div class="wrapper-btn">
            <input type="submit" value="Evaluate" />
          </div>
        </form>
      </section>

      <!-- Modal -->
      <section class="contentModal">
        <div class="modal" id="modal-covid"></div>
      </section>

      <!-- Social Media -->
      <section class="socialMedia">
        <button class="btn">
          <i class="bx bxl-youtube"></i>
          <a
            href="https://www.youtube.com/channel/UCKmXlegNzxRIhWz1vP1YuZw"
            target="_blank"
            >Youtube</a
          >
        </button>
        <button class="btn">
          <i class="bx bxl-discord-alt"></i>
          <a href="https://discord.gg/CrKTjZSe" target="_blank">Discord</a>
        </button>
        <button class="btn">
          <i class="bx bxl-blogger"></i>
          <a href="https://estivenmayhuay.github.io/emcody/" target="_blank"
            >Blog</a
          >
        </button>
      </section>
    </main>

    <script src="../script/app.js" type="module"></script>
  </body>
</html>
