<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Titanic Web</title>
    <link
      rel="shortcut icon"
      href="../images/icon-azure.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <img src="../images/cruise.png" alt="banner titanic" />
      <h1>Bienvenidos a Titanic Web</h1>
    </header>

    <a href="../index.html" class="iconHome"
      ><img src="../images/icon-home.png" alt="icono para ir al home"
    /></a>

    <main>
      <section id="testData">
        <details class="detailsTestData">
          <summary>Test Data</summary>

          <div class="contentTable">
            <table>
              <thead>
                <tr>
                  <th>Survived</th>
                  <th>PClass</th>
                  <th>Sex</th>
                  <th>Age</th>
                  <th>SibSp</th>
                  <th>Parch</th>
                  <th>Fare</th>
                  <th>Embarked</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>3</td>
                  <td>male</td>
                  <td>20</td>
                  <td>1</td>
                  <td>1</td>
                  <td>15.7417</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>female</td>
                  <td>25</td>
                  <td>1</td>
                  <td>1</td>
                  <td>30</td>
                  <td>S</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>3</td>
                  <td>male</td>
                  <td>28</td>
                  <td>0</td>
                  <td>0</td>
                  <td>7.8958</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>3</td>
                  <td>female</td>
                  <td>28</td>
                  <td>1</td>
                  <td>1</td>
                  <td>22.3583</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>3</td>
                  <td>male</td>
                  <td>28</td>
                  <td>0</td>
                  <td>0</td>
                  <td>9.5</td>
                  <td>S</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </section>

      <section class="contentForm">
        <form action="" method="post" id="titanicForm">
          <div class="wrapper">
            <label for="passengerId">Passenger ID</label>
            <input
              type="text"
              name="passengerId"
              id="passengerId"
              value="0"
              required
            />
          </div>
          <div class="wrapper">
            <label for="survived">Suvirved</label>
            <input type="text" name="survived" id="survived" required />
          </div>
          <div class="wrapper">
            <label for="pClass">PClass</label>
            <input type="text" name="pClass" id="pClass" required />
          </div>
          <div class="wrapper">
            <label for="nameUser">Name Passenger</label>
            <input type="text" name="nameUser" id="nameUser" required />
          </div>
          <div class="wrapper">
            <label for="sex">Sex</label>
            <input type="text" name="sex" id="sex" required />
          </div>
          <div class="wrapper">
            <label for="age">Age</label>
            <input type="text" name="age" id="age" required />
          </div>
          <div class="wrapper">
            <label for="sibsp">SibSp</label>
            <input type="text" name="sibsp" id="sibsp" required />
          </div>
          <div class="wrapper">
            <label for="parch">Parch</label>
            <input type="text" name="parch" id="parch" required />
          </div>
          <div class="wrapper">
            <label for="ticket">Ticket</label>
            <input type="text" name="ticket" id="ticket" value="0" required />
          </div>
          <div class="wrapper">
            <label for="fare">Fare</label>
            <input type="text" name="fare" id="fare" required />
          </div>
          <div class="wrapper">
            <label for="cabin">Cabin</label>
            <input type="text" name="cabin" id="cabin" value="0" required />
          </div>
          <div class="wrapper">
            <label for="embarked">Embarked</label>
            <input type="text" name="embarked" id="embarked" required />
          </div>
          <div class="wrapper-btn">
            <input type="submit" value="Evaluar" required />
          </div>
        </form>
      </section>

      <section id="results">
        <table>
          <thead>
            <tr>
              <th>Survived</th>
              <th>PClass</th>
              <th>Sex</th>
              <th>Age</th>
              <th>SibSp</th>
              <th>Parch</th>
              <th>Fare</th>
              <th>Embarked</th>
              <th>Scored L.</th>
              <th>Scored P.</th>
            </tr>
          </thead>
          <tbody>
            <tr id="tr-titanic"></tr>
          </tbody>
        </table>

        <p class="image">
          <img
            src="../images/viajeros.png"
            alt="estado del pasajero"
            id="imageState"
            width=""
          />
        </p>
      </section>
    </main>

    <script src="../script/app.js"></script>
  </body>
</html>
